@model IEnumerable<Genre>

<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Türler
</a>

<ul class="dropdown-menu">
    @foreach (var genre in Model)
    {
        <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-genre="@genre.Id" asp-route-page="1">@genre.Name</a></li>
    }

</ul>