@model IEnumerable<Country>

<p>@ViewBag.Country</p>
@if (ViewBag.Day < 15)
{
    <p>Ayın ilk yarısı...</p>

}
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>

<p>
    Ücretsiz fuar davetiyesi için <a asp-controller="Home" asp-action="Invite" class="btn btn-success"
    > tıklayınız...</a>
</p>

